.login{

    position: absolute;
    z-index:1;
    width:100%;
    height:100%;
    /* background-color: #00000090; */
       background-color: rgba(255, 255, 255, 0.6);
    display:grid;
}
.login-pop-con{
    place-self:center;
    width:22rem;
    color:#808080;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:2rem;
    border-radius:1rem;
    font-size: 1rem;
    animation: fadeIn 0.8s;


}
.popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
}
.popup-title h2{
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color:green;
    margin-left:7rem
}
.popup-title img{
   
   width:1rem;
   height:1rem;
   cursor: pointer;
}
.login-popup-inputs{
    display:flex;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap:20px;
  
}
.login-popup-inputs input{
     width:18rem;
     height: 2.3rem;
     padding:.5rem;
    
  

}
.login-pop-con button{
    width:18rem;
     height: 2.3rem;
     
     border-radius:.2rem;
     font-size:1.4rem;
     background-color: green;
     color:white;
     transition: box-shadow 0.3s ease;
}

.login-pop-con button:hover{
     background-color:darkgreen;
     box-shadow: 0px 4px 8px rgba(251, 6, 6, 0.4);
     width:16rem;
     margin-left:1rem
}
.login-condition{
     display: flex;
     justify-content: center;
     align-items: start;
     gap:8px;
     margin-top:-15px; 
}
.login-condition input{
    margin-top:5px;
}
.login p span{
 color:tomato;
 font-weight:1rem;
cursor: pointer;

}
.parasi{
    margin-left:2rem;
    font-size: 1rem;
}