.food-item{
    width:100%;
    margin:auto;
    border-radius:15px;
    box-shadow:0px 0px 10px #00000015;
    transition:0.5s;
    animation:fadeIn 5s;
    margin-bottom:4rem;


}
.food-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(216, 27, 27, 0.3); 
}
.food-item:active {
    transform: scale(1.2); 
    box-shadow: 0px 0px 30px rgba(197, 13, 13, 0.4); 
}
.food-item-img{
    width:100%;
    border-radius:15px 15px 0px 0px;
}
.food-item-info{
    padding:20px;
}
.food-item-rating{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:10px;
}
.food-item-rating p{
    font-size:1.4rem;
    font-weight:1rem;

}
.food-item-rating img{
     width:70px;
}
.food-item-desc{
    color:#676767;
    font-size:1rem;
    text-align: left;

}
.food-item-price{
color:red;
font-size:1.3rem;
font-weight:bold;
text-align: left;
margin-left:1rem;
}
 .add{
  width:10rem;
  height:3rem;
  background-color:orange;
  border-radius:1rem;
  font-size: 1rem;
  font-weight: 1rem;
  margin-top:1rem;
 

}
.add:hover{
    background-color: orangered;
    font-size: 1.4rem;
    width:12rem;
    
}
.food-counter{
    display: flex;
    

}
.food-item-cont{
    position:relative;

}
.remove{
   
     margin-left:5rem;
   

}
.addi{
    margin-right:5rem;
}
.count{
    text-align: center;
    font-size: 1.2rem;
    margin-left: .5rem;
    margin-top: .6rem;
    padding: .3rem;
}